.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 6rem; /* adjust for header height */
    background-color: var(--background);
  }
  
  .wrapper {
    width: 100%;
    max-width: 768px;
    padding: 3rem 1.5rem;
    text-align: center;
  }
  
  .title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }
  
  .postItem {
    margin-bottom: 1.5rem;
    transition: all 0.2s;
  }
  
  .postItem:hover {
    text-decoration: underline;
  }
  
  .postTitle {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .postDate {
    color: var(--secondary);
    font-size: 0.9rem;
  }
  
  .container {
    max-width: 768px;
    margin: 100 auto;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color:  var(--background);
  }
  
  .backLink {
    text-decoration: none;
    color:  var(--secondary);
    font-weight: 500;
  }
  
  .backLink:hover {
    text-decoration: underline;
  }
  
  .imageWrapper {
    position: relative;
    width: 80%;
    padding-top: 56.25%; 
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
  }
  
  .postImage {
    object-fit: contain;
    border-radius: 1rem;
  }
  
  .imageWrapper2 {
    position: relative;
    width: 80%;
    max-width: 368px;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    margin: 0 auto 1.5rem auto; /* centers the image and adds bottom spacing */
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .postImage2 {
    object-fit: cover;
    border-radius: 1rem;
  }
  
  
  .title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  .meta {
    color: var(--secondary); /* Tailwind's gray-500 */
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }
  
  .body {
    font-size: 1.1rem;
    line-height: 1.8;
  }
  