.streamBackground {
    position: absolute;
    width: 100%;
    left: 0;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
  }
  
  .top {
    top: 0;
    transform: scaleY(-1);
  }
  
  .bottom {
    bottom: 0;
  }
  