/* Upper Footer */
.upperFooter {
    background-color: var(--tertiary);
    color: var(--foreground);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  
  /* Each block styling */
  .logoBlock,
  .descriptionBlock,
  .mapBlock,
  .hoursBlock,
  .socialIconsBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .logo img {
    width: auto;
    height: 200px;
    object-fit: contain;
    filter: invert(0%); /* Default: black logo */
    transition: filter 0.3s ease;
    padding: 1px;
  }
  
  /* Dark Mode */
  .dark .logo img {
    filter: invert(100%); /* White logo in dark mode */
  }
  
  
  .description {
    max-width: 350px;
    font-size: 14px;
    line-height: 1.6;
    padding: 10px;min-width: 200px;
  }
  
  
  .socialIcons {
    display: flex;
    gap: 25px;
  }
  
  .socialIcons a {
    color: var(--foreground);
    font-size: 30px;
    transition: color 0.3s ease-in-out;
  }
  
  .socialIcons a:hover {
    color: var(--primary);
  }
  
  .hoursBlock p {
    margin: 0;
    font-size: 14px;
    min-width: 200px;
  }
  
  .mapBlock iframe {
    border-radius: 8px;
    width: 320px;
    height: 190px;

  }
  
  /* Bottom Footer */
  .bottomFooter {
    background-color: #E3000A;
    color: var(--foreground);
    text-align: center;
    padding: 15px 10px;
  }
  
  .bottomLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .bottomLinks a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  
  .bottomLinks a:hover {
    font-weight: bold;
    font-size: 15px;
  }
  
  .copyText {
    font-size: 14px;
    color: white;
  }
  
  .locationRow {
    display: flex;
    align-items: center;
    gap: 8px; /* space between icon and text */
    justify-content: center; /* center in mobile, adjust if needed for desktop */
  }
  
  .locationIcon {
    font-size: 20px;
    color: var(--secondary); /* Match your brand color */
  }
  

  /* Desktop Layout */
  @media (min-width: 768px) {
    .upperFooter {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
      gap: 30px;
    }
  
    .logoBlock,
    .descriptionBlock,
    .mapBlock,
    .hoursBlock,
    .socialIconsBlock {
      align-items: flex-start;
    }
  
    .mapBlock iframe {
      width: 200px;
      height: 150px;
    }
  }
  