/* styles/GoogleReviews.module.css */

.googleReviews {
    margin: 8px 0;
    text-align: center;
    padding: 4px;
  }
  .googleLogo {
    width: 40px;
    height: 40px;
  }
  
  .reviewLink {
    text-decoration: none;
    color: var(--foreground);
    display: inline-block;
  }
  
  .reviewsRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-bottom: 20px;
  }
  
  .starsRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 8px;
  }
  
  .ratingText {
    font-family: var(--font-inter-bold), sans-serif;
    color: var(--foreground);
    font-size: clamp(0.8rem, 2vw, 1.6rem);
    margin-left: 2px;
  }
  .ratingText2 {
    font-family: var(--font-inter-bold), sans-serif;
    color: var(--foreground);
    font-size: clamp(0.8rem, 2vw, 1.6rem);
    margin-left: 2px;
    margin-top: -20px;
    margin-bottom: 25px;
  }