.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 450px;
    padding: 30px 30px;
    border-radius: 2px;
    background-color: var(--border-color);
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .iconWrapper {
    margin-bottom: 15px;
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--secondary);
  }
  
  .subtitle {
    color: var(--text-muted);
    font-size: 0.95rem;
    line-height: 1.4;
    max-width: 250px;
    font-weight: 100;
    font-family: 'Inter', sans-serif;
  }
  