.container {
    text-align: center;
    margin: 20px auto;
    max-width: 900px;
    padding: 0 20px;
    z-index: 0;
  }
  
  .title {
    font-size: 1.9rem;
    font-weight: 900;
    display: inline-block;
    color: var(--secondary);
  }
  
  .char {
    display: inline-block;
    transform-origin: bottom;
    animation: waveScale 0.6s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
  }
  
  .subtitle {
    font-size: 1rem;
    color: var(--text-muted);
    margin-top: 15px;
    padding: 5px;
  }
  
  .char {
    display: inline-block;
    transform-origin: bottom;
  }
  
  /* Only animate when this class is present */
  .animateWave {
    animation: waveScale 0.6s ease-in-out forwards;
    animation-iteration-count: 2;
  }
  


  @keyframes waveScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  