.container {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-color: var(--background);
  }
  
  .question {
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .answer {
    padding: 0 20px;
    height: 0;
    max-height: 0;
    overflow: hidden;
    background-color: var(--background);
    transition: max-height 0.3s ease, padding 0.3s ease;
    color: var(--secondary);
    font-weight: 100;
  }
  
  .answer.show {
    padding: 15px 20px;
    height: auto;
    max-height: 500px;
  }
  
  .arrow {
    transition: transform 0.3s ease;
  }
  
  .rotate {
    transform: rotate(90deg);
  }
  
  .open .question {
    background-color: var(--tertiary);
  }
  